body {
	font: 100%/1.5 Helvetica, Segoe UI, sans-serif;
}

h1 {
	margin: 0;
	font-weight: 100;
	font-size: 300%;
}

header {
	margin: 0 auto 2em;
	width: max-content;
}

	h1 {
		text-align: center;
	}

		h1 a {
			color: inherit;
		}

		h1 a:not(:hover):not(:active) {
			text-decoration: none;
		}

	form > div,
	form > div label {
		display: flex;
		align-items: center;
	}

	form > div {
		margin-bottom: .4em;
	}

	form > div label {
		flex: 1;
	}

		input {
			flex: 1;
			padding: .1em .3em;
		}

		form button,
		form input {
			align-self: stretch;
			margin-left: .3em;
			font: inherit;
		}

		form button {
			font-weight: bold;
		}

dl {
	display: grid;
	grid-template-rows: auto auto;
	grid-auto-flow: column;
}

dl, dt, dd {
	border: 1px solid rgba(0,0,0,.1);
}

dt, dd {
	border-width: 0 1px 1px 0;
	padding: .3rem .5rem;
}

dt {
	background: rgba(0,0,0,.03);
}

dd {
	margin: 0;
	font-size: 200%;
}

summary {
	column-span: all;
	margin-bottom: .5em;
	opacity: .6;
	font-style: italic;
}

details {
	column-width: 13em;
}

details > div {
	margin: .3em 0;
}

[property=timeToClose] {
	font-weight: bold;
}

.long {
	color: hsl(0, 100%, 45%);
}

.short {
	color: hsl(80, 80%, 35%);
}

a.issue-number {
	display: inline-block;
	padding: .05em .4em;
	border-radius: .25em;
	background: hsl(220, 10%, 90%);
	font-weight: bold;
	color: inherit;
	text-decoration: none;
}

a.issue-number:visited {
	background: hsl(280, 20%, 90%);
}

a.issue-number:hover {
	background: hsl(220, 20%, 50%);
	color: white;
}

a.issue-number:visited:hover {
	background: hsl(280, 20%, 50%);
}

.mv-bar.mv-ui {
	margin-top: 1em;
	background: hsl(220, 10%, 91%);
	color: inherit;
}

.mv-bar.mv-ui ::before {
	filter: invert(100%);
}
